<!-- Navbar -->
<nav class="flex flex-wrap items-center justify-between mx-auto p-4 fixed top-0 w-full z-20 ">
    <div class="conatiner mx-auto flex items-center justify-between" id="navbar-cta">
        <ul class="flex items-center gap-4 md:gap-7 text-white">
            <li>
            <li><a href="#gallery" class="navlink">Space</a></li>
            <li>
                <img width="120" src="{{ url_for('static', filename='images/mayens-place-removebg-preview.png') }}">
            </li>
            <li><a href="/booking" class="navlink">Book Now</a></li>
        </ul>
    </div>
</nav>